<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <span class="subheading">Our latest update</span>
                <h2 class="mb-4">Case Study</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 ftco-animate">
                <div class="blog-entry">
                    <a class="block-20" href="blog-single.html" style="background-image: url('assets/images/image_1.jpg');"></a>
                    <div class="text py-4">
                        <div class="meta mb-3">
                            <div>
                                <a href="#">Oct. 12, 2018</a>
                            </div>
                            <div>
                                <a href="#">Admin</a>
                            </div>
                            <div>
                                <a class="meta-chat" href="#">
                                    <span class="icon-chat"></span>
                                    3</a>
                            </div>
                        </div>
                        <div class="desc">
                            <h3 class="heading">
                                <a href="#">Even the all-powerful Pointing has no control about the blind texts</a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ftco-animate">
                <div class="blog-entry" data-aos-delay="100">
                    <a class="block-20" href="blog-single.html" style="background-image: url('assets/images/image_2.jpg');"></a>
                    <div class="text py-4">
                        <div class="meta mb-3">
                            <div>
                                <a href="#">Oct. 12, 2018</a>
                            </div>
                            <div>
                                <a href="#">Admin</a>
                            </div>
                            <div>
                                <a class="meta-chat" href="#">
                                    <span class="icon-chat"></span>
                                    3</a>
                            </div>
                        </div>
                        <div class="desc">
                            <h3 class="heading">
                                <a href="#">Even the all-powerful Pointing has no control about the blind texts</a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ftco-animate">
                <div class="blog-entry" data-aos-delay="200">
                    <a class="block-20" href="blog-single.html" style="background-image: url('assets/images/image_3.jpg');"></a>
                    <div class="text py-4">
                        <div class="meta mb-3">
                            <div>
                                <a href="#">Oct. 12, 2018</a>
                            </div>
                            <div>
                                <a href="#">Admin</a>
                            </div>
                            <div>
                                <a class="meta-chat" href="#">
                                    <span class="icon-chat"></span>
                                    3</a>
                            </div>
                        </div>
                        <div class="desc">
                            <h3 class="heading">
                                <a href="#">Even the all-powerful Pointing has no control about the blind texts</a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>