<section class="hero-wrap d-flex">
    <div class="forth d-flex">
        <div class="bg-after d-flex align-self-stretch"></div>
        <div class="text">
            <div class="desc pt-5">
                <span class="subheading">Welcome</span>
                <h1 class="mb-3">We Help to Build You the Product</h1>
                <h2 class="mb-4">Business Solution</h2>
                <p>
                    <a class="btn-custom py-3 pr-2" href="#">Get in touch</a>
                </p>
            </div>
        </div>
    </div>
    <div class="third about-img">
        <div class="video-hero" id="home" style="height: 750px; background-image: url(assets/images/bg_1.jpg); background-size:cover; background-position: center center;">
            <a class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=iia8HIsvqmw&list=PLKTlP51GPmJz_ej9d_4OUAh65PMS8jn2n&index=4',containment:'#home', showControls:false, autoPlay:true, loop:true, mute:true, startAt:0, opacity:1, quality:'default'}"></a>
        </div>
    </div>
</section>