<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <span class="subheading">Team</span>
                <h2 class="mb-4">Our Staff</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="staff text-center">
                    <div class="img" style="background-image: url(assets/images/person_1.jpg);"></div>
                    <div class="text pt-4">
                        <h3>David Smith</h3>
                        <span class="position mb-2">CEO, Founder</span>
                        <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
                        <ul class="ftco-social">
                            <li class="ftco-animate">
                                <a href="#">
                                    <span class="icon-twitter"></span>
                                </a>
                            </li>
                            <li class="ftco-animate">
                                <a href="#">
                                    <span class="icon-facebook"></span>
                                </a>
                            </li>
                            <li class="ftco-animate">
                                <a href="#">
                                    <span class="icon-google-plus"></span>
                                </a>
                            </li>
                            <li class="ftco-animate">
                                <a href="#">
                                    <span class="icon-instagram"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="staff text-center">
                    <div class="img" style="background-image: url(assets/images/person_2.jpg);"></div>
                    <div class="text pt-4">
                        <h3>David Smith</h3>
                        <span class="position mb-2">Developer</span>
                        <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
                        <ul class="ftco-social">
                            <li class="ftco-animate">
                                <a href="#">
                                    <span class="icon-twitter"></span>
                                </a>
                            </li>
                            <li class="ftco-animate">
                                <a href="#">
                                    <span class="icon-facebook"></span>
                                </a>
                            </li>
                            <li class="ftco-animate">
                                <a href="#">
                                    <span class="icon-google-plus"></span>
                                </a>
                            </li>
                            <li class="ftco-animate">
                                <a href="#">
                                    <span class="icon-instagram"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="staff text-center">
                    <div class="img" style="background-image: url(assets/images/person_3.jpg);"></div>
                    <div class="text pt-4">
                        <h3>David Smith</h3>
                        <span class="position mb-2">Graphic Designer</span>
                        <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
                        <ul class="ftco-social">
                            <li class="ftco-animate">
                                <a href="#">
                                    <span class="icon-twitter"></span>
                                </a>
                            </li>
                            <li class="ftco-animate">
                                <a href="#">
                                    <span class="icon-facebook"></span>
                                </a>
                            </li>
                            <li class="ftco-animate">
                                <a href="#">
                                    <span class="icon-google-plus"></span>
                                </a>
                            </li>
                            <li class="ftco-animate">
                                <a href="#">
                                    <span class="icon-instagram"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="staff text-center">
                    <div class="img" style="background-image: url(assets/images/person_4.jpg);"></div>
                    <div class="text pt-4">
                        <h3>David Smith</h3>
                        <span class="position mb-2">Web Designer</span>
                        <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
                        <ul class="ftco-social">
                            <li class="ftco-animate">
                                <a href="#">
                                    <span class="icon-twitter"></span>
                                </a>
                            </li>
                            <li class="ftco-animate">
                                <a href="#">
                                    <span class="icon-facebook"></span>
                                </a>
                            </li>
                            <li class="ftco-animate">
                                <a href="#">
                                    <span class="icon-google-plus"></span>
                                </a>
                            </li>
                            <li class="ftco-animate">
                                <a href="#">
                                    <span class="icon-instagram"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="staff text-center">
                    <div class="img" style="background-image: url(assets/images/staff-1.jpg);"></div>
                    <div class="text pt-4">
                        <h3>David Smith</h3>
                        <span class="position mb-2">Developer</span>
                        <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
                        <ul class="ftco-social">
                            <li class="ftco-animate">
                                <a href="#">
                                    <span class="icon-twitter"></span>
                                </a>
                            </li>
                            <li class="ftco-animate">
                                <a href="#">
                                    <span class="icon-facebook"></span>
                                </a>
                            </li>
                            <li class="ftco-animate">
                                <a href="#">
                                    <span class="icon-google-plus"></span>
                                </a>
                            </li>
                            <li class="ftco-animate">
                                <a href="#">
                                    <span class="icon-instagram"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="staff text-center">
                    <div class="img" style="background-image: url(assets/images/staff-2.jpg);"></div>
                    <div class="text pt-4">
                        <h3>David Smith</h3>
                        <span class="position mb-2">Data Analyst</span>
                        <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
                        <ul class="ftco-social">
                            <li class="ftco-animate">
                                <a href="#">
                                    <span class="icon-twitter"></span>
                                </a>
                            </li>
                            <li class="ftco-animate">
                                <a href="#">
                                    <span class="icon-facebook"></span>
                                </a>
                            </li>
                            <li class="ftco-animate">
                                <a href="#">
                                    <span class="icon-google-plus"></span>
                                </a>
                            </li>
                            <li class="ftco-animate">
                                <a href="#">
                                    <span class="icon-instagram"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="staff text-center">
                    <div class="img" style="background-image: url(assets/images/staff-3.jpg);"></div>
                    <div class="text pt-4">
                        <h3>David Smith</h3>
                        <span class="position mb-2">Data Analyst</span>
                        <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
                        <ul class="ftco-social">
                            <li class="ftco-animate">
                                <a href="#">
                                    <span class="icon-twitter"></span>
                                </a>
                            </li>
                            <li class="ftco-animate">
                                <a href="#">
                                    <span class="icon-facebook"></span>
                                </a>
                            </li>
                            <li class="ftco-animate">
                                <a href="#">
                                    <span class="icon-google-plus"></span>
                                </a>
                            </li>
                            <li class="ftco-animate">
                                <a href="#">
                                    <span class="icon-instagram"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="staff text-center">
                    <div class="img" style="background-image: url(assets/images/staff-4.jpg);"></div>
                    <div class="text pt-4">
                        <h3>David Smith</h3>
                        <span class="position mb-2">Researcher</span>
                        <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
                        <ul class="ftco-social">
                            <li class="ftco-animate">
                                <a href="#">
                                    <span class="icon-twitter"></span>
                                </a>
                            </li>
                            <li class="ftco-animate">
                                <a href="#">
                                    <span class="icon-facebook"></span>
                                </a>
                            </li>
                            <li class="ftco-animate">
                                <a href="#">
                                    <span class="icon-google-plus"></span>
                                </a>
                            </li>
                            <li class="ftco-animate">
                                <a href="#">
                                    <span class="icon-instagram"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>