<div class="col-md-6 ftco-animate">
    <div class="blog-entry">
        <a class="block-20" href="blog-single.html" style="background-image: url('assets/images/image_1.jpg');"></a>
        <div class="text py-4">
            <div class="meta mb-3">
                <div>
                    <a href="#">{{ post.date }}</a>
                </div>
                <div>
                    <a href="#">{{ post.author }}</a>
                </div>
            </div>
            <div class="desc">
                <h3 class="heading">
                    <a href={{ post.url }}>{{ post.title }}</a>
                </h3>
            </div>
        </div>
    </div>
</div>