<div class="sidebar-box ftco-animate">
    <h3>Tag Cloud</h3>
    <ul class="tagcloud">
        <a class="tag-cloud-link" href="#">dish</a>
        <a class="tag-cloud-link" href="#">menu</a>
        <a class="tag-cloud-link" href="#">food</a>
        <a class="tag-cloud-link" href="#">sweet</a>
        <a class="tag-cloud-link" href="#">tasty</a>
        <a class="tag-cloud-link" href="#">delicious</a>
        <a class="tag-cloud-link" href="#">desserts</a>
        <a class="tag-cloud-link" href="#">drinks</a>
    </ul>
</div>